# Suggested setup steps:
#
#   python3 -m venv VIRTUALENV_PATH
#   source VIRTUALENV_PATH/bin/activate
#   pip3 install --upgrade pip setuptools wheel
#   pip3 install --upgrade --requirement requirements.txt
#
# where VIRTUALENV_PATH is the path to your new Python 3 virtual environment
#
# Upgrading pip, setuptools and wheel first is a good practice,
# and may also prevent problems installing the requirements.


# https://github.com/sqlxpert/aws-tag-sched-ops/
#
# Copyright 2022, Paul Marcelin
#
# This file is part of TagSchedOps.
#
# TagSchedOps is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# TagSchedOps is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with TagSchedOps. If not, see http://www.gnu.org/licenses/


# Necessary for operation:
boto3
botocore
pytz
python-dateutil
aniso8601

# Necessary for development:
pylint
pycodestyle
yamllint
